@import "tailwindcss";

body {
  background: rgb(10, 10, 10);
  overflow-x: hidden;
}

.hover-effect li {
  /* background: red; */
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  height: 6vh;
  border-radius: 10px;
}

.hover-effect li:hover,
.plus {
  background: rgb(23, 23, 23);
}

.profile-pic img {
  width: 70px;
  height: 40px;
  border-radius: 50px;
}

.post-icon {
  padding: 10px;
  border-radius: 15px;
}
.post-icon:hover {
  background: rgb(30, 30, 30);
}

.loginStyle {
  background-image: url(/src/assets/background.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.login-style {
  color: white;
}

.login-style input {
  border: none;
  background: rgb(30, 30, 30);
}

.login-style input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px rgb(62, 63, 63);
}
